HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main***REMOVED***/target/
!**/src/test***REMOVED***/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main***REMOVED***/build/
!**/src/test***REMOVED***/build/

### VS Code ###
.vscode/

### Application Secrets ###
*.properties