<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.chengbing.dao.GalleryPhotoMapper">
    <select id="selectPhotoByGallery" resultType="org.chengbing.entity.Photo">
        select * from photo where photo_id in (select photo_id from gallery_photo where ga_id = #{gaId})
    </select>
</mapper>
