<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.chengbing.dao.TagPhotoMapper">

    <select id="selectByTags" resultType="org.chengbing.entity.Photo">
        select * from photo where photo_id in (
            SELECT photo_id
            from tag_photo
            WHERE
                user_id = #{userId} AND
                tag_id IN
            <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
            GROUP BY photo_id HAVING count(*) = #{totalNum}
        )
    </select>

    <select id="selectTagByPhoto" resultType="map">
        select p.photo_id, t.tag_id, t.tag_name
        from photo as p, tag as t, tag_photo as tp
        where p.photo_id = tp.photo_id and t.tag_id = tp.tag_id and p.photo_id = #{photoId}
    </select>
</mapper>
