html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
***REMOVED***

a {
  color: inherit;
  text-decoration: none;
***REMOVED***

* {
  box-sizing: border-box;
***REMOVED***
